# Core Python & Data
numpy
pandas
matplotlib
seaborn

# Machine Learning / AI
scikit-learn
torch
transformers
openai
langchain

# Notebooks & Utilities
jupyter
ipykernel
tqdm
nbformat
nbstripout

# FYI: API and cloud connectors
requests
google-generativeai

# LLM
plotly
gradio
streamlit
