name: Install Python Libraries
on:
 push:
   branches:
     - main
 pull_request:
jobs:
 setup-python:
   runs-on: ubuntu-latest
   steps:
     # Step 1: Check out the repository
     - name: Checkout Repository
       uses: actions/checkout@v4
     # Step 2: Set up Python environment
     - name: Set up Python
       uses: actions/setup-python@v5
       with:
         python-version: '3.x' # Specify the desired Python version
     # Step 3: Install dependencies
     - name: Install Dependencies
       run: |
         python -m pip install --upgrade pip setuptools wheel
         pip install -r requirements.txt
     # Step 4: Verify installation (optional)
     - name: Verify Installed Libraries
       run: pip list
