name: Setup Python
uses: actions/setup-python@v6
with:
  python-version: "3.11"
  cache: "pip"
  cache-dependency-path: |
    requirements.txt
    requirements/*.txt
  architecture: "x64"
  check-latest: false
  update-environment: true
  allow-prereleases: false
  freethreaded: false
  pip-version: "24"

